*{
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes showUp{
    from{
        opacity:0;
        transform: translateY(50px);
    }
    to{
        opacity:1;
        transform: translateY(0px);
    }
}

@keyframes showDown{
    from{
        opacity:0;
        transform: translateY(-50px);
    }
    to{
        opacity:1;
        transform: translateY(0px);
    }
}
@keyframes showLeft{
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity:1;
        transform: translateX(0px);
    }
}

@keyframes showRight{
    from{
        opacity:0;
        transform: translateX(-50px);
    }
    to{
        opacity:1;
        transform: translateX(0px);
    }
}
.activeUp{
    animation: showUp 700ms linear forwards ;
}
.activeDown{
    animation: showDown 700ms linear forwards ;
}
.activeLeft{
    animation: showLeft 700ms linear forwards ;
}
.activeRight{
    animation: showRight 700ms linear forwards ;
}

@media screen and (min-width: 320px) {
    header{
        width:100%;
    }

    .navbar{
        width:100%;
        height:70px;
        background-color: #FFF;
        display: flex;
        position:relative;    
    }

    .logo{
        flex:1;
        height: 100%;
        display:flex;
        align-items: center;
        padding:0 5px;
    }

    .logo a {
        text-decoration: none;
        color:#222;
        font-family:Arial, Helvetica, sans-serif;
    }
    .bar{
        flex:1;
        height:100%;
        display:flex;
        align-items: center;
        justify-content: flex-end;
        padding:0 10px 0 0;
        font-size:1.6rem;
        color: #999;
    }

    nav{
        width: 0px;
        height:100vh;
        position: absolute;
        background-color: #222;
        color:#FFF;
        display:flex;
        flex-direction:column;
        align-items: center;
        padding:0px;
        overflow: hidden;
    }

    nav a{
        width:100%;
        text-align: center;
        padding:5px;
        margin:0 0 10px 0;
        font-size: 1.3rem;
        text-decoration: none;
        color:#FFF;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    nav a:after{
        content:'';
        display:block;
        width:3%;
        border:1px solid lightcoral;
        margin:5px auto 0 auto;
        transition: 200ms;
        
    }

    nav a:hover:after{
        width:50%;
    }


    /** Apresentation section **/
    .apresentation{
        width:100%;
        display:flex;
        flex-direction: column;
        padding:0 30px;
        background:linear-gradient(to bottom, #FF96B4,45%,#A988F3);
    }

    .apresentation .box-apresentation h1{
        font-size: 2.9rem;
        margin:40px 0 10px 0;
        color:#FFF;
    }

    .apresentation .box-apresentation h1:after{
        content:'';
        display:block;
        width:50%;
        border:2px solid #FFF;
        margin:10px 0;
        background: #FFF;

    }

    .apresentation .box-apresentation p{
        margin:10px 0 30px 0;
        color: #FFF;
        line-height: 25px;
    }
    
    .apresentation .box-apresentation a{
        text-decoration: none;
        padding:10px 20px;
        border-radius: 35px;
        background-color: lightcoral;
        color: #FFF;
    }

    .apresentation .image-apresentation{
        width:100%;
        display:flex;
        justify-content: center;
        overflow: hidden;
    }

    .apresentation .image-apresentation img{
        width:150%;
    }


    /** WORK **/
    .work{
        width:100%;
        padding:0 30px;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
        background:#292D33;
    
    }

    .work .cont-work {
        width:250px;
        height:200px;
        background:#FFF;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        margin-bottom:20px;
        position:relative;
        top:-50px;
    }
    .work .cont-work .icon{
        width:70px;
        height:70px;
        border-radius:50%;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        background: #8981FA;
    }
    .work .cont-work img{
        width:50px;
    }

    .work .cont-work h4{
        text-transform: uppercase;
        margin:10px 0;
        font-size:1.5rem;
    }


    /**ABOUT**/
    .about{
        width:100%;
        padding:30px;
        background:#E43B76;
        display:flex;
        flex-direction:column;
    }
    .about-title{
        padding:15px 0;
    }
     .about-title h2{
         font-weight: normal;
         text-transform: uppercase;
         font-size: 1rem;
         color: #FFF;
     }

     .about-title h1{
        text-transform: uppercase;
        font-size: 1.7rem;
        color: #FFF;
        margin:20px 0 0 0;
    }

    .about div {
        margin:10px 0;
        line-height: 25px;
    }

    .about div p{
        color: #FFF;
        margin:0 0 20px 0;
    }

    .about div strong{
        font-size:1.3rem;
        text-transform: uppercase;
        color: #FFF;
    }

    .visao{
        width:100%;
        padding:30px 30px 0;
        background: #292D33;
        position:relative;
    
    }

    .visao .image-visao{
        width:100%;
        height: 350px;
    }

    .visao .image-visao img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
    }

    .visao .desc-visao{
        width:90%;
        padding:20px;
        margin:0 10px;
        background:#E43B76;
        position:relative;
        bottom: 60px;
    }

    .visao .desc-visao h1{
        color: #FFF;
        text-transform: uppercase;
        font-size: 1rem;
        margin: 0 0 20px 0;
    }

    .visao .desc-visao h1:after{
        content:'';
        border: 2px solid #FFF;
        display:block;
        width:35%;
        margin:20px 0 ;
        background: #FFF;


    }


    .visao .desc-visao p{
        color: #FFF;
    }

/** Training section **/
.training{
    width:100%;
    display:flex;
    flex-direction: column;
    padding:0 30px;
    background:linear-gradient(to bottom, #FF96B4,45%,#A988F3);
}

.training .training-desc h1{
    font-size: 2.9rem;
    margin:40px 0 10px 0;
    color:#FFF;
}

.training .training-desc h1:after{
    content:'';
    display:block;
    width:50%;
    border:2px solid #FFF;
    margin:10px 0;
        background: #FFF;

}

.training .training-desc p{
    margin:10px 0 30px 0;
    color: #FFF;
    line-height: 25px;
}

.training .training-desc a{
    text-decoration: none;
    padding:10px 20px;
    border-radius: 35px;
    background-color: lightcoral;
    color: #FFF;
}

.training .training-image{
    width:100%;
    display:flex;
    justify-content: center;
    overflow: hidden;
}

.training .training-image img{
    width:150%;
}


    /* Start */

    .start{
        width:100%;
        padding:30px;
        background: #292D33;
        display:flex;
        flex-direction:column;
    }

    .start .cont-desc{
        padding:15px 0;
        text-align:center;
    }

    .start .cont-desc h1{
        color: #FFF;
        font-weight:normal;
        font-size:1.6rem;
        margin:10px 0;
    }

    .start .cont-desc h1:after{
        content:'';
        display:block;
        width:20%;
        border:2px solid #FFF;
        margin:10px auto;
        background: #FFF;

    }

    .start .cont-desc p{
        color:#FFF;
        margin-bottom:20px;
    }

    .start .cont-image{
        width:100%;
    }

    .start .cont-image img{
        width:100%;
        height: 250px;
        object-fit: cover;
        object-position: 50% 55%;
    }

    .start .text{
        padding:30px;
        background: #E43B76;
        color: #FFF;
    }

    .start .cont-image .text strong{
        font-size:1.1rem;
        text-transform: uppercase;
        margin:15px 0;
        display:inline-block;
    }

    .start .text ul{
        padding-left:25px;
    }


    /** Modal **/

    .modal{
        width:100%;
        display:flex;
        flex-direction: column;
        padding:0 30px;
        background:linear-gradient(to bottom, #A988F3,45%,#FF96B4);
    }
    
    .modal .text h1{
        font-size: 2.9rem;
        margin:40px 0 10px 0;
        color:#FFF;
    }
    
    .modal .text h1:after{
        content:'';
        display:block;
        width:50%;
        border:2px solid #FFF;
        margin:10px 0;
        background: #FFF;

    }
    
    .modal .text p{
        margin:10px 0 30px 0;
        color: #FFF;
        line-height: 25px;
    }
    
    .modal .text a{
        text-decoration: none;
        padding:10px 20px;
        border-radius: 35px;
        background-color: lightcoral;
        color: #FFF;
    }
    
    .modal .modal-image{
        width:100%;
        display:flex;
        justify-content: center;
        overflow: hidden;
    }
    
    .modal .modal-image img{
        width:150%;
    }
    
    /* Contact */

    .contact{
        width:100%;
        padding: 30px;
        background: #222;
        display:flex;
        flex-direction: column;
    }

    .contact .contact-text{
        width:100%;
        text-align:center;
        margin-bottom: 15px;
        color: #FFF;
    }

    .contact .contact-text span{
        width:100%;
        display:block;
        margin: 15px 0;
    }

    .contact .contact-image{
        width:100%;
        margin-bottom:15px;
    }
    
    .contact .contact-image img{
        width:100%;
    }

    .logo-footer{
        padding:30px 0;
        text-align:center;
    }

    .logo-footer h1{
        font-size:1.9rem;
        color:#FFF;
        margin:0 0 20px 0;
    }


    .logo-footer .redes{
        width:100%;
        margin-bottom:10px;
        border-bottom: 1px solid #FFF;
        padding-bottom:10px;
    }

    .logo-footer .redes a{
        margin:10px;
        text-decoration:none;
        color: #FFF;
    }

    .logo-footer p{
        color: #FFF;
    }


    /** FOOTER **/
    footer{
        width:100%;
        padding:60px;
        background: #CCC;
        text-align: center;
    }

    

}


@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {
    
    /** Apresentation section **/
    .apresentation{
        height:70vh;
        flex-direction: row;
    }
    .apresentation .box-apresentation{
        flex:1;
    }
    .apresentation .box-apresentation h1{
        font-size: 3.5rem;
    }

    .apresentation .box-apresentation h1:after{
        height:4px;
    }

    .apresentation .box-apresentation p{
        font-size: 1.2rem;
    }
    
    .apresentation .box-apresentation a{
        font-size:1.2rem;
    }

    .apresentation .image-apresentation{
        flex:1;
    }


    /** WORK **/
    .work{
        flex-direction:row;
    }

    .work .cont-work {
        width:250px;
        height:150px;
        margin:0 10px 20px;
    }
    .work .cont-work .icon{
        width:50px;
        height:50px;
    }
    .work .cont-work img{
        width:30px;
    }

    .work .cont-work h4{
       font-size:1.3rem;
    }



    /**ABOUT**/
    .about{
        flex-direction:row;
    }
    .about-title{
        flex:1;
        padding:15px 0;
    }
     .about-title h2{
         font-size: 1.2rem;
     }

     .about-title h1{
        font-size: 2.7rem;
        line-height: 45px;
    }

    .about div {
        flex:1;
    }

    .about div p{
        font-size:0.9rem;
    }

    /** Visao **/

    .visao{
        padding:30px 30px;
        position:relative;
        display:flex;
    }

    .visao .image-visao{
        width:100%;
        height: 350px;
        flex:1;
    }

    
    .visao .desc-visao{
        flex:1;
        height: 300px;
        left: -40px;
        top:30px;
    }

    .visao .desc-visao h1{
        font-size: 1.5rem;
        line-height: 29px;
    }


/** Training section **/
.training{
    width:100%;
    display:flex;
    flex-direction: row;
    padding:0 30px;
    background:linear-gradient(to bottom, #FF96B4,45%,#A988F3);
}
.training .training-desc {
    flex:1;
}
.training .training-desc h1{
    font-size: 3.3rem;
}

.training .training-desc h1:after{
    height: 4px;
}


.training .training-desc a{
    padding:10px 25px;
    font-size:1.3rem;
}

.training .training-image{
    flex:1;
}

    /* Start */

    .start{
        width:100%;
        padding:30px;
        background: #292D33;
        display:flex;
        flex-direction:column;
    }

    .start .cont-desc{
        padding:15px 0;
        text-align:center;
    }

    .start .cont-desc h1{
        font-size:2.5rem;
    }

    .start .cont-desc h1:after{
        height:4px;
    }

    .start .cont-desc p{
        margin-bottom:20px;
        font-size:1.3rem;
    }

    .start .cont-image{
        width:80%;
        margin:0 auto;
    }

    .start .cont-image img{
        width:100%;
        height: 500px;
    }

    .start .text{
        display:flex;
        flex-direction:column;
        align-items: center;
    }

    .start .cont-image .text strong{
        font-size:1.5rem;
    }

    .start .text ul{
        padding-left:5px;
        font-size: 1.2rem;
    }


    /** Modal **/

    .modal{
        flex-direction: row;
    }
    
    .modal .text{
        flex:1;
    }

    .modal .text h1{
        font-size: 3.2rem;
    }
    
    .modal .text h1:after{
        content:'';
        display:block;
        width:50%;
        border:2px solid #FFF;
        margin:10px 0;
        background: #FFF;

    }
    
    .modal .text p{
        margin:10px 0 30px 0;
        color: #FFF;
        line-height: 25px;
    }
    
    .modal .text a{
        padding:10px 25px;
        font-size:1.3rem;
    }
    
    .modal .modal-image{
        flex:1;
    }
    
    /* Contact */

    .contact .contact-text p{
        font-size:1.5rem;
    }


    .contact .contact-image{
        width:80%;
        margin:0px auto 15px auto;
    }



    .logo-footer h1{
        font-size:2.9rem;
    
    }


    .logo-footer .redes a{
        font-size:1.3rem;
    }

    .logo-footer p{
        width:500px;
        margin:0 auto;
    }


}

@media screen and (min-width: 992px) {
    
}


@media screen and (min-width: 1200px) {
    /** Apresentation section **/
    
    .apresentation .box-apresentation{
        padding-left:60px;
    }
    


    /**ABOUT**/
    .about{
        padding: 60px;
    }

     .about-title h1{
        font-size: 3.2rem;
        line-height: 55px;
    }

    .about div {
        padding:0 15px;
    }

    .about div p{
        font-size:1.1rem;
    }
 

   /** Visao **/

    .visao .desc-visao h1{
        font-size: 2.3rem;
        line-height: 35px;
    }

    .visao .desc-visao p{
        font-size: 1.1rem;
        line-height: 25px;
    }

/** Training section **/
.training .training-desc {
    padding:60px;
    flex:1;
}

/* Start */


.start .cont-desc h1{
    font-size:3rem;
}

.start .cont-desc h1:after{
    height:4px;
    width:35%;
}

.start .cont-desc p{
    font-size:1.5rem;
}

.start .cont-image{
    width:80%;
    margin:0 auto;
    display:flex;
}

.start .cont-image img{
    flex:1;
    height: 500px;
}

.start .text{
    flex:1;
}

/** Modal **/

.modal{
    flex-direction: row;
    
}

.modal .text{
    padding-left:60px;
    flex:1;
}


    /* Contact */

    .contact .contact-text p{
        font-size:1.5rem;
        width:900px;
        margin:auto;
    }


    .contact .contact-image{
        width:70%;
        height:350px;
    }

    .contact .contact-image img{
        height:100%;
    }


}

@media screen and (min-width: 1400px) {
 
   

}